*{
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 940px; 
  padding: 0 10px;
}

.login{
  padding:10%;
  margin:auto auto;
  height: 50%;
  width:50%;
  font-family: 'Roboto Condensed', sans-serif;
}

.login h1,p{
  text-align: center;
}

.login h1{
  padding:10px;
  font-size: 50px;
}

.login p{
  padding: 5px;
  font-size: 25px;
  color: #121212;
}

.loginButton{
  box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:13px 16px;
	text-decoration:none;
	text-shadow:0px 0px 23px #ffffff;
}

.header{
  display:flex;
  justify-content: center;
  align-content: center;
}

.img{
  height: 100px;
  width: 300px;
}

.nav { 
  background: #000;
  margin: 0 auto;
  height: 80px; 
  width: 98%;
  border-radius: 0.5em;
}

.nav ul {
  display:flex;
  align-content: center;
  justify-content: center;
  height: 80px;
  margin: 0 auto; 
  padding: 0;
}

.nav ul li {
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  padding: 0 20px;
  transition: background .5s; 
}


.nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-family: 'Roboto Condensed', sans-serif;
  /* font-weight: 600; */
  
}

.btn:hover, .nav ul li a:hover {
  background: #fff;
  color: #000;
  cursor: pointer; 
  padding:10px 20px;
  border-radius: 0.5em;
  margin:5px;
  transition: background .5s;  
}


.viewy{
   display: flex;
   align-self: center;
   flex:10; 
}